
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fff;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.toggle-button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 14px;
    padding: 5px 10px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.toggle-button:hover {
    background-color: #333;
    color: #fff;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .toggle-button {
    background-color: #fff;
    color: #333;
    border-color: #fff;
}

.dark-mode .toggle-button:hover {
    background-color: #333;
    color: #fff;
}

